extends layout

block content
  h1 /ascii/
  form(method='post')
    label
      div Title
      input(type='text', name='title', value=title)
    label
      div Art
      textarea(name='art') #{art}
    - if (error)
      div(class='error') #{error}
    input(type='submit')

  div.container
    - for (var s in submissions)
      div.submission
        p= submissions[s].title
        p= submissions[s].art