extends layout

block content
  h1 /ascii/
  form(method='post')
    label
      div Title
      input(type='text', name='title', value=title)
    label
      div Art
      textarea(name='art') #{art}
    - if (error)
      div(class='error') #{error}
    input(type='text', name='geoPosition', class='geoPosition', hidden='hidden')
    input(type='submit')

  hr

  div.container
    - for (var s in submissions)
      div.art
        div.art-title= submissions[s].title
        pre.art-body= submissions[s].art